﻿body {
    margin:0 0 0 0;
    padding:0 0 0 0;
}

h1{
    color: #66ead2;
    letter-spacing: 4px;
    font-family: monospace;
    font-size: 25px;
}
h2{
    color: #c7b057;
    letter-spacing: 4px;
    font-family: monospace;
    font-size: 18px;
}
h3{
    color: #66ead2;
    font-family: serif;
    font-size: 18px;
    font-style: italic;
}

h4{
    color: #c7b057;
    line-height: 1.5;
    font-family: sans-serif;
    font-weight: 300;
}
/*menu*/

/*header*/

#conteiner{
    width: 100%;
    height:575px;
    margin: 0 0 0 0;
}
.header {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('Img/Без-имени-4.gif');
}
.logo{
    position: relative;
    border-top: 50px solid #81ead7;
    border-right: 20px solid transparent;
    width: 30%;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.logo p{
    margin: -43px 0px 0 100px;
    width: 20%;
    color:#ffffff;
}
.main-menu{
    position: relative;
    border-bottom: 50px solid #ffffff;
    border-left: 20px solid transparent;
    opacity: 0.8;
    width: 100%;
    right: 0px;
    top: 0px;
    z-index: 1;
}
.main-menu .menu-title{
   display: flex;
    justify-content: space-around;
    margin: 0 0px -70px 0;
}
.menu-title p {
    margin: 5px 0 0 20px;
    color: #636567;
}
/*.menu-title p:hover {
     position: relative;
    border-left: 20px solid transparent;
     border-top: 20px solid #81ead7;
    border-right: 20px solid transparent;
    width: 100%;
    right: 0px;
    top: 0px;
    z-index: 1;
}*/
.menu{
    display: inline-flex;
    position: absolute;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 5;
}

#right-header{
    position: absolute;
    border-top: 574px solid #66ead2;
    opacity: 0.5;
    border-left: 200px solid transparent;
    width: 40%;
    top: 0;
    right: 0;
}
#text{
    z-index: 2;
    font-size: 36px;
    width: 58%;
    letter-spacing: 4px;
    position: absolute;
    float: right;
}
/*header*/

/*body*/
.body-conteiner{
    margin: 0 20% 0 20%;
    /*display: flex;
    flex-direction: column;*/
}

.footer-conteiner{
    display: flex;
    flex-direction:row;
}
.text-conteiner, .messager-conteiner{
    margin: 2% 1% 2% 1%;
}
/*body*/

/*text-conteiner*/

.text-conteiner #content, .messager-conteiner #content{
    line-height: 1.5;
    color: #c7b057;
    font-family: sans-serif;
}

.text-conteiner ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.text-conteiner li { 
    color: #c7b057;
    line-height: 2.5;
    font-family: sans-serif;
}

.text-conteiner  li:before {
    content: "—"; 
    padding-right: 8px;
    color:#66ead2;
}
.text-conteiner #bottom-text li:before {
    content: "—"; 
    padding-right: 8px;
    color:#fff;
}
/*text-conteiner*/

/*image conteiner*/
.image-conteiner{
  margin: 2% 0 2% 0;
}
.image-conteiner, .messager-conteiner{
    display:inline-flex;
    justify-content: center;
    width: 100%;
}

.image-conteiner img{
    margin: 0 1% 0 1%;
    width:inherit;
    height: 300px;
    background-repeat: no-repeat;
    overflow: hidden;
}
.image-conteiner img.full-conteiner{
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
/*image conteiner*/

/*messager-conteiner*/
.messager-conteiner img{
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: contain;
}
.messager{
  padding: 5% 2% 2% 2%;
}
/*messager-conteiner*/

/*information*/
.information {
    width: 100%;
    background: #81ead7;
    padding: 0 0 1% 0;
}
.information1 {
    width: 100%;
    position: absolute;
    background: #81ead7;
    padding: 0 0 5% 0;
}
.information h1{
    color:#636567;
}
.information #content{
    color:#636567;
    font-family: monospace;
    font-size: 14px;
}
.features_name{
    color:#636567;
    font-family: monospace;
    font-weight: 600;
    font-size: 14px;
}
.information-blocks{
    display: flex;
    /*overflow: hidden;*/
    margin: 5% 0 5% 0;
}
.information-block{
    border: 1px solid #636567;
    width: 100%;
    padding: 1% 1% 1% 1%;
    margin: 0 2px 0 2px;
        display: flex;
    flex-direction: column;
}
.information-block #bottom{
    align-items:flex-end;
}
.features_image {
    width: 100%;
    height: 100px;
}
/*information*/

.table-conteiner{
    display: flex;
    justify-content: center;
}
.table{
    border: 2px solid #66ead2;
    color:#636567;
    font-family: monospace;
    /*font-weight: 600;*/
    width: 50%;
    padding: 1% 1% 1% 1%;
    margin: 0 1% 0 1%;
    font-size: 22px;
    text-transform:uppercase;
     letter-spacing: 2px;
     text-align:justify;
}
.table #text2{
    color:#636567;
    font-family:inherit;
    font-size: 18px;
     text-align:justify;
}
.table #text1{
    color:#636567;
    font-family:fantasy;
    font-size: 18px;
     text-align:justify;
}
.table #text3{
    color:#636567;
    font-family:cursive;
    font-size: 18px;
     text-align:justify;
}
.table p{
    margin:1% 1% 1% 1%;
    padding:1% 1% 1% 1%;
}

.body-conteiner #bottom-text{
    color:#000000;
}
.information .text-conteiner li:before {
    content: "—";
    padding-right: 8px;
      color:#000000;
}
.footer-conteiner{
    display: inline-flex;
    position: absolute;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 5;
}

#menu1{
    border-top: 50px solid #ffffff;
    border-right: 20px solid transparent;
     border-top: 50px solid #ffffff;
    border-right: 20px solid transparent;
    width: 23%;
     z-index: 1;
    position: absolute;
    bottom: 0px;
   left:0px;
}

#menu1 p{
    margin: -43px 0px 0 100px;
    width: 40%;
    color: #81ead7;
}

 #menu2{
    border-bottom: 50px solid #ffffff;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    width: 23%;
     z-index: 1;
    position: absolute;
    bottom: 0px;
    left: 24%;
}

#menu2 p{
    margin: 0 0px -43px  100px;
    width: 50%;
    color: #81ead7;
}
 #menu3{
   border-top: 50px solid #ffffff;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    width: 23%;
     z-index: 1;
    position: absolute;
    bottom: 0px;
    right: 24%;
}

#menu3 p{
    margin: -43px 0px 0 100px;
    width: 40%;
    color: #81ead7;
}
#menu4{
    border-bottom: 50px solid #ffffff;
    border-left: 20px solid transparent;
    width: 23%;
     z-index: 1;
    position: absolute;
    bottom: 0px;
    right:0px;
}

#menu4 p{
    margin: 0 0px -43px 100px;
    width: 40%;
    color: #81ead7;
}

#text{
    font-size: 50px;
    color: #ffffff;
    padding: 15% 0 0 60%;
    width: 37%;
}
.menu-conteiner{
    display:none;
}

@media only screen and (max-width: 805px) {
    #right-header{
        top:22px;
        border-top: 553px solid #66ead2;
    }
    .menu{
        display:none;
    }
    .menu-conteiner{
    background-color: #81ead7;
    padding: 2px 0 0 0;
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    display: flex;
    color:#fff;
    }
    .conteiner{
        width:100%;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
        margin: 0 5% 0 5%;
}
    .conteiner #menu{
        background-image: url('img/menu.gif');
        background-size: cover;
        height: 15px;
        width: 20px;
    }
     button img{
        background-size: cover;
        height: 15px;
        width: 20px;
    }

    .under-conteiner{
    background-color: #211f1f;
    width: 100%;
    height: 100%;
    position: inherit;
    display:none;
    }

  #menu:hover .under-menu{
     display:block;
    }

.under-menu {
    color: #ffffff;
    list-style-type: none;
    text-transform: uppercase;
    padding: 5px 0 0 5px;
    margin: 20px 0 0 0;
    z-index: 1;
    width:auto;
    display: none;
    position: absolute;
     background-color: #47ceb5;
    /* border-bottom-color: #58a597; */
    color: #fff;
    border-bottom: solid 4px;
    text-transform: uppercase;
}

    .under-menu li {
    padding: 2px 0 2px 0;
    margin: 0 4% 0 0;
    list-style-type: none;
    }

    .under-menu li:hover {
    color:#ffffff;
    }

    .footer-conteiner{
    display:block;
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 5;
    }
    .features_name, .information #content {
        text-align: center;
    }
    #menu1, #menu2, #menu3{
        display:none;
    }
    #menu4{
        display:none;
    }
    .body-conteiner {
    margin: 0 2% 0 2%;
}
    .image-conteiner, .messager-conteiner {
    width: 100%;
}
    #menu1,#menu2, #menu3, #menu4 {
        width:18%;
    }
    .image-conteiner img {
        height: 220px;
    }
    .information-blocks {
        flex-wrap: wrap;
    }
    #fullimage{
    justify-content: flex-end;
    width: 85%;
    }
        #hidenmenu{
    display: block;
    background-color: #fff;
    padding: 6px;
    color: #067964;
    text-align: center;
    }
            #text {
            font-size: 35px;
            padding: 20% 0 0 50%;
        }
}

@media only screen and (max-width: 600px) {
        #right-header{
        border-top: none;
    }
        #text{
            display:none;
        }
        #conteiner {
    height: 220px;
}
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .image-conteiner img.full-conteiner {
        height: 600px;
    }

    #menu1, #menu2, #menu3, #menu4 {
        width: 22%;
    }

        #menu1 p, #menu2 p, #menu3 p, #menu4 p {
            margin-left: 60px;
        }
}
     @media only screen and (min-width: 800px) and  (max-width: 1000px){
     #menu1,#menu2, #menu3, #menu4 {
        width:22%;
    }
     #menu1 p,  #menu2 p,  #menu3 p,  #menu4 p {
    margin-left:50px;
    width:auto;
    }
    .body-conteiner {
    margin: 0 5% 0 5%;
    }
       .image-conteiner img.full-conteiner {
        height: 600px;
    }
        #text {
            font-size: 35px;
            padding: 20% 0 0 50%;
        }
        .information-block {
            padding: 2px 2px 2px 2px;
        }
}
@media only screen and (min-width:1000px) and (max-width: 1200px) {
    .messager-conteiner img {
        width: 65%;
    }
        .body-conteiner {
    margin: 0 5% 0 5%;
    }
        #text {
            font-size: 35px;
            padding: 20% 0 0 50%;
        }
        .information-block {
            padding: 2px 2px 2px 2px;
        }
}
@media only screen and (min-width: 1100px) {
    .image-conteiner img.full-conteiner {
        height: 600px;
    }
}
@media only screen and (min-width: 1400px) {
    .body-conteiner {
        font-size: 25px;
    }

    .image-conteiner img {
        height: 100%;
    }

    #menu1 p, #menu2 p, #menu3 p, #menu4 p {
        font-size: 20px;
    }
    .information1{
        padding: 0 0 2% 0;
    }
    .information{
        padding: 1px 0 1px 0;
    }
    div, h2, h3{
        font-size:20px;
    }
    .messager-conteiner img {
        width: 57%;
    }
}