﻿body {
    margin:0 0 0 0;
}

.body-conteiner{
    margin: 0 4% 0 4%;
}
.title-conteiner{
    display: flex;
    flex-direction:row;
    justify-content:center;
    padding: 2% 0 2% 0;
}
.button-conteiner{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    padding: 2% 0 2% 0;
}

.title-conteiner p{
    text-transform: uppercase;
}
.title-conteiner #arrow{
   width: 100px;
   height: 15px;
    padding: 18px 2% 0 2%;
}
footer{
  background-color: #000000;
}
.body-conteiner #left-footer{
    float:left;
     display: flex;
    flex-direction:row;
}
.body-conteiner #right-footer{
    float:right;
    display: flex;
    flex-direction:row;
    margin:  0 0 0 0;
}

.body-conteiner #right-footer img{
       padding: 5px 5px 5px 5px;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 0;
    margin: 5px 0 0 0;
    
}
.footer-menu li {
    margin: 0 40px 0 0;
    list-style-type: none;
}

.footer-menu li a{
    text-transform: uppercase;
    color:#ffffff;
        font-size: 14px;
}
    .information {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height:inherit;
        
    }
      .information div{
          height: 350px;
          background-repeat: no-repeat;
          background-size:cover;
          margin-bottom: 2%;
    }
      .first-inform{
       width: 49%;
       height:inherit;
       background-position: 100% 80%;
      }
       .second-inform{
       width: 59%;
       height:inherit;
        background-position: 60% 31%;
      }
        .third-inform{
       width: 39%;
       height:inherit;
        background-position:100%;
      }

       .first-inform p, .second-inform p, .third-inform  p{
       color:#ffffff;
       text-transform: uppercase;
       font-size: 24px;
    }
       .first-inform p{
       padding: 35% 40% 35% 40%;
    }
       .second-inform p{
       padding: 22% 40% 21% 40%;
    }
       .third-inform p{
       padding: 35% 40% 35% 40%;
    }

       #contentslider {
    position: absolute;
    top: 20%;
    left: 7%;
    color: #000000;
}
          .slider-mini {
           z-index: 2;
           width: 100%;
           height: 100%;
          overflow: hidden;
          position: relative;
          display:flex;
          justify-content:space-around
        }   
        .slider-mini ul li{
        list-style-type: none;
        float: left;
        width: 100%;
        height: 100%;
        padding: 0 5px 0 5px;
		}
        .slider-mini ul {
			width: 100%;
            display:flex;
            justify-content:space-around;
            padding:0 0 0 0;
          margin:0 0 0 0;
		}
        .slider-mini ul li img{
         width: inherit;
         height: inherit;
		}

        .slider-mini ul li img#last{
              width: 90%;
               height: 100%;
		}

         .slider-mini .nav {
            position: absolute;
            right: 45%;
            bottom: 5%;
        }
		.slider-mini .nav span {
			opacity: 0.9;
			background: #fff;
			margin: 0 8px 0 0;
			width: 16px;
			height: 16px;
			border-radius: 8px;
			cursor: pointer;
			overflow: hidden;
			display: block;
			float: left;
			box-shadow: 0 1px 2px #000;
		}
		.slider-mini .nav span.on {
			background: #000000;
		}

.header{
    background-color: #000000;
    padding: 2px 0 0 0;
    width: 100%;
    height: inherit;
    position: inherit;
}
.conteiner{
    color:#ffffff;
    display: flex;
    justify-content: space-between;
}
    .conteiner #menu{
        background-image: url('img/menu.gif');
        background-size: cover;
        height: 15px;
        width: 20px;
    }
    button img{
        background-size: cover;
        height: 15px;
        width: 20px;
    }

    .under-conteiner{
    background-color: #211f1f;
    width: 100%;
    height: 100%;
    position: inherit;
    display:none;
    }

  #menu:hover .under-menu{
     display:flex;
    }

.under-menu {
    color: #ffffff;
    list-style-type: none;
    text-transform: uppercase;
    padding: 5px 0 0 5px;
    margin: 20px 0 0 0;
    z-index: 1;
    width: 500px;
    display: none;
    position: absolute;
    background-color: #c1c1c1;
    border-bottom-color: #797979;
    color: #2b2929;
    border-bottom: solid 4px;
    text-transform: uppercase;
}

    .under-menu li {
    padding: 2px 0 2px 0;
    margin: 0 4% 0 0;
    list-style-type: none;
    }

    .under-menu li:hover {
    color:#ffffff;
    }

.row {
    background: #000000;
    position: relative;
    padding: 10px 5px 0 5px;
    width:inherit;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    height: inherit;
    border:none;
}

.row:after {
    content: '';
    border: 14px solid transparent;
    border-left: 15px solid black;
    position: absolute;
    right: -27px;
    top: 17%;
    margin-top: -4px;
}

#button{
    width: 30%;
    background-color: #ffffff;
    color: #000000;
    border-color: #d6d2d2;
    text-transform: uppercase;
    margin: 0 0 0 20px;
}
#button:focus{
    background-color: #c1c1c1;
    border-bottom-color: #797979;
    color: #585858;
    border-bottom: solid 4px;
    text-transform: uppercase;
}
button:hover {
  border-color:#211f1f;
}
button:focus { outline:0 !important; }

    #footermin{
        display:none;
    }

    /*slider big*/

            * {box-sizing:border-box}
               #contentslider {
    position: absolute;
    top: 20%;
    left: 7%;
    color: #000000;
}
       #contentslider> h2{
           font-style: italic ;
       }
       #contentslider> p{
           font-style: italic ;
           padding: 0 0 0 0;
       }
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: 0 0 -4px 0;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
   background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

.dots{
    position: absolute;
    bottom: 5px;
    left: 45%;
}

.active, .dot:hover {
  background-color: #211f1f;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



@media only screen and (max-width: 600px) {
    .row:after {
        border: none;
    }
    #menu:hover .under-menu {
        display: block;
    }
    .under-menu{
        width: 160px;
        z-index: 3;
    }
    .body-conteiner {
    margin: 0 3% 0 3%;
    }

    .title-conteiner #arrow {
    width: 60px;
    height: 15px;
    padding: 4% 2% 0 2%;
    }
    .title-conteiner p {
    font-size: 14px;
    }
    .title-conteiner{
        padding: 3% 0 4% 0;
    }
    .button-conteiner {
    flex-direction: column;
    }
    .row{
    width: 30%;
    background-color: #ffffff;
    color: #000000;
    border-color: #d6d2d2;
    text-transform: uppercase;
    margin: 0 0 0 20px;
    }
    .button-conteiner {
        width: 100%;
    }
    .row:after {
        border: none;
    }
    #button, .row{
        margin:0 0 1% 0;
        width: inherit;
        padding: 5px;
    }
    .row{
        background-color:#000000;
        color:#ffffff;
    }
    .body-conteiner #right-footer, .body-conteiner #left-footer{
        display: none;
    }
    #footermin{
    display: flex;
    color: #000000;
    justify-content: center;
    text-transform: uppercase;
    margin-top:2%;
    }
    footer {
        background-color: #c7c3c3;
    }

    .information{
    display: flex;
    flex-direction: column;
    }
    .first-inform, .second-inform, .third-inform{
        width:inherit;
    }
}

@media only screen and (min-width: 900px){
.footer-menu li {
    margin: 0 10px 0 0;
    list-style-type: none;
}
.row:after {
    content: '';
    border: 13px solid transparent;
    border-left: 15px solid black;
    position: absolute;
    right: -27px;
    top: 17%;
    margin-top: -5px;
}
.third-inform {
    background-position: 80%;
}
}

@media only screen and (min-width: 1200px) {
    .body-conteiner{
        margin: 0 7% 0 7%;
    }
    .title-conteiner p {
    font-size: 22px;
    }
    .title-conteiner #arrow {
    width: 107px;
    height: 18px;
    padding: 27px 2% 0 2%;
}
    .footer-menu li a {
    font-size: 20px;
}
    #button {
    padding: 14px;
    font-size: 18px;
}
    .row:after {
    border: 25px solid transparent;
    border-left: 17px solid black;
    right: -42px;
    top: 21%;
    margin-top: -10px;
}
    .first-inform p {
    padding: 20% 40% 35% 40%;
}
    .second-inform p {
    padding: 20% 40% 21% 40%;
}
    .third-inform p {
    padding: 30% 40% 35% 40%;
}
    .first-inform {
    background-position: 100% 34%;
}
    .row{
        font-size: 18px;
    }
    button img {
    height: 20px;
    width: 25px;
}
    .conteiner #menu {
    height: 20px;
    width: 25px;
}
    #title{
        font-size:20px;
    }
    .conteiner {
        padding: 3px 0 3px 0;
    }
}
@media only screen and (max-width: 800px) {
        #contentslider {
display:none;
    }
    .footer-menu li:last-child{
        display:none;
    }
        .row:after {
    content: '';
    border: 13px solid transparent;
    border-left: 15px solid black;
    position: absolute;
    right: -27px;
    top: 17%;
    margin-top: -4px;
}
            #insta{
        height:20px; 
        width:20px;
    }
    #twitter{
        height:20px; 
        width:25px;
    }
    #face{
        height:20px; 
        width:10px;
    }
}